<%- include('./partials/header') %>

  <h3>Google Maps Demo</h3>
  <!--The div element for the map -->
  <div id="map"></div>

  <!--Add a script by google -->
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTAhHCVuuORw-mgJPUUkK4MzryqCwZ-Uc&callback=initMap&libraries=&v=weekly"
    async>
    </script>

  <script>

    function initMap() {
      const losAngeles = {
        lat: 34.0522,
        lng: -118.2437
      };
      const map = new google.maps.Map(
        document.getElementById("map"), {
        zoom: 17.56,
        center: losAngeles,
      });
    }
  </script>

  <%- include('./partials/footer') %>