<%- include('../partials/header') %>
    <section id="add-vendor">
        <table>
            <tr>
                <td><label>Name:</label></td>
                <td><input type="text" name="name"></input></td>
            </tr>
            <tr>
                <td><label>Address:</label></td>
                <td><input type="text" name="streetAdress"></input></td>
            </tr>
            <tr>
                <td><label>City:</label></td>
                <td><input type="text" name="city"></input></td>
            </tr>
            <tr>
                <td><label>State:</label></td>
                <td><input type="text" name="state"></input></td>
            </tr>
            <tr>
                <td><label>Zip Code:</label></td>
                <td><input type="number" name="zipcode"></td>
            </tr>
            <tr>
                <td>Venue:</td>
                <td><input type="text" name="venueType"></td>
            </tr>
            <tr><td></td>
                <td><button type="submit">Add Vendor</button></td></tr>
        </table>
    </section>




    <%- include('../partials/footer') %>