<%- include('../partials/header') %>

   

<form action="/reviews/<%= review.id %>?_method=PUT" method="POST" id="form-edit">
<textarea name="blog" id="blog" cols="25" rows="3" placeholder="<%= review.blog %>"></textarea> 
<button type="submit">EDIT</button>
</form>
   
               
   

    <%- include('../partials/footer') %>